<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<!-- 
	=====>设置别名: 将com.imooc.entity.User设置为User 
	如果不设置别名<select id="selectDemo" resultType="com.imooc.entity.User"> ***</select>
	设置别名            <select id="selectDemo" resultType="User">***</select>
	 -->
	<typeAliases>
		<package name="com.imooc.entity"></package>
	</typeAliases>


	<mappers>
	<!-- 	<mapper resource="mapper/UserMapper.xml" /> -->
		<mapper resource="mapper/PermissionMapper.xml" />
		<mapper resource="mapper/RoleMapper.xml" />
		<mapper resource="mapper/UserMapper.xml" />
	</mappers>


</configuration>