<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 引入资源文件 -->
 <properties  resource="db_mysql.properties"></properties>
 
  <!-- 设置别名 -->
 <typeAliases>
   <package  name="entity"></package>
 </typeAliases>
 
   <environments default="mysqlEM">
   
  
    <environment id="mysqlEM">
      <transactionManager type="JDBC">
      </transactionManager>
      
      <dataSource type="POOLED">
         <property name="driver" value="${jdbc.driverClass}"/>
        <property name="url" value="${jdbc.jdbcUrl}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
       
      </dataSource>
    </environment>
  </environments>

 <mappers>
    <!-- <mapper resource="mapper.xml"/>  -->
    <mapper resource="com/imooc/mapper/StudentMapper.xml"/>
  </mappers>


</configuration>